<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="verifiers" name="Verifiers" schema="schema/verifiers.exsd"/>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="it.polimi.dice.verification.launcher.VerificationLaunchConfigurationDelegate"
            id="it.polimi.dice.verification.launchConfigurationTypeStorm"
            modes="run"
            name="DICE Verification - Storm">
      </launchConfigurationType>
	  <launchConfigurationType
	    delegate="it.polimi.dice.verification.launcher.SparkVerificationLaunchConfigurationDelegate"
	    id="it.polimi.dice.verification.launchConfigurationTypeSpark"
	    modes="run"
	    name="DICE Verification - Spark">
	  </launchConfigurationType>
   </extension>

</plugin>
