<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
      <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://resources/"
            target="platform:/plugin/it.polimi.dice.profiles/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="DTSM Storm Profile"
            path="pathmap://resources/dtsm-storm.profile.uml">
      </profile>
   </extension>
   -->
  <extension
     point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
	  <profile
	        name="DTSM Storm Profile"
	        path="platform:/plugin/it.polimi.dice.profiles/resources/dtsm-storm.profile.uml">
	  </profile>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.dynamic_package">
      <profile
            uri="it.polimi.dice.profiles.dtsm-storm.profile">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            uri="it.polimi.dice.profiles.resource1">
      </resource>
   </extension>
</plugin>
