<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="it.polimi.dice.verification.ui.launcher.storm.StormVerificationLaunchConfigurationTabGroup"
            id="it.polimi.dice.verification.ui.launchConfigurationTabGroupStorm"
            type="it.polimi.dice.verification.launchConfigurationTypeStorm">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="it.polimi.dice.verification.ui.launcher.spark.SparkVerificationLaunchConfigurationTabGroup"
            id="it.polimi.dice.verification.ui.launchConfigurationTabGroupSpark"
            type="it.polimi.dice.verification.launchConfigurationTypeSpark">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="it.polimi.dice.verification.ui.launcher.storm.StormMainLaunchConfigurationTab"
            group="it.polimi.dice.verification.ui.launchConfigurationTabGroupStorm"
            id="it.polimi.dice.verification.ui.mainTabStorm"
            name="Main">
      </tab>
     <tab
            class="it.polimi.dice.verification.ui.launcher.spark.SparkMainLaunchConfigurationTab"
            group="it.polimi.dice.verification.ui.launchConfigurationTabGroupSpark"
            id="it.polimi.dice.verification.ui.mainTabSpark"
            name="Main">
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="it.polimi.dice.verification.launchConfigurationTypeStorm"
            icon="icons/verify_icon_storm.ico"
            id="it.polimi.dice.verification.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="it.polimi.dice.verification.launchConfigurationTypeSpark"
            icon="icons/verify_icon_spark.ico"
            id="it.polimi.dice.verification.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
       <menuContribution
            allPopups="false"
            locationURI="menu:org.dice.menu.tools">
         <menu
               icon="icons/verify_icon.png"
               id="it.polimi.dice.verification.ui.menus.diceVerificationMenu"
               label="DICE Verification Tools">
            <command
                  commandId="it.polimi.dice.verification.ui.commands.launchStormVerificationCommand"
                  icon="icons/verify_icon_storm.ico"
                  label="Launch DICE Verification - Storm"
                  style="push">
            </command>
            <command
                  commandId="it.polimi.dice.verification.ui.commands.launchSparkVerificationCommand"
                  icon="icons/verify_icon_spark.ico"
                  label="Launch DICE Verification - Spark"
                  style="push">
            </command>
         </menu>
      </menuContribution>
 <!--    <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="it.polimi.dice.verification.ui.toolbars.sampleToolbar">
            <command
                  commandId="it.polimi.dice.verification.ui.commands.launchVerificationCommand"
                  icon="icons/verify_icon_storm.ico"
                  id="it.polimi.dice.verification.ui.toolbars.LaunchVerificationCommand"
                  tooltip="Launch verification on current Papyrus Model">
                  <visibleWhen>
                       <with variable="activeEditorId">
					       <equals value="org.eclipse.papyrus.infra.core.papyrusEditor"/>
					    </with>
                  </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>--> 
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="it.polimi.dice.verification.ui.commands.verificationCategory"
            name="DICE Verification">
      </category>
      <command
            categoryId="it.polimi.dice.verification.ui.commands.verificationCategory"
            defaultHandler="it.polimi.dice.verification.ui.handlers.LaunchStormVerificationHandler"
            description="Launches DICE Verification for Storm Applications"
            id="it.polimi.dice.verification.ui.commands.launchStormVerificationCommand"
            name="Launch DICE Verification - Storm">
      </command>
      <command
            categoryId="it.polimi.dice.verification.ui.commands.verificationCategory"
            defaultHandler="it.polimi.dice.verification.ui.handlers.LaunchSparkVerificationHandler"
            description="Launches DICE Verification for Spark Applications"
            id="it.polimi.dice.verification.ui.commands.launchSparkVerificationCommand"
            name="Launch DICE Verification - Spark">
      </command>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="it.polimi.dice.verification.ui.launcher.storm.StormVerificationLaunchShortcut"
            icon="icons/verify_icon_storm.ico"
            id="it.polimi.dice.verification.ui.storm.shortcut"
            label="DICE &amp;Verification - Storm"
            modes="run">
            <contextualLaunch>
         <enablement>
           <with variable="selection">
             <count value="1"/>
              <iterate>
               <or>
                  <adapt
                        type="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement">
                  </adapt>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="notation">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="di">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="uml">
                        </test>
                      </or>
                  </and>
               </or>
              </iterate>
             </with>
         </enablement>
 		</contextualLaunch>
       <configurationType
              id="it.polimi.dice.verification.launchConfigurationTypeStorm">
       </configurationType>
       <description
              description="Launches a verification task on the specified UML model for Storm application"
              mode="run">
       </description>       
      </shortcut>
            <shortcut
            class="it.polimi.dice.verification.ui.launcher.spark.SparkVerificationLaunchShortcut"
            icon="icons/verify_icon_spark.ico"
            id="it.polimi.dice.verification.ui.spark.shortcut"
            label="DICE &amp;Verification - Spark"
            modes="run">
            <contextualLaunch>
         <enablement>
           <with variable="selection">
             <count value="1"/>
              <iterate>
               <or>
                  <adapt
                        type="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement">
                  </adapt>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="notation">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="di">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="uml">
                        </test>
                      </or>
                  </and>
               </or>
              </iterate>
             </with>
         </enablement>
 		</contextualLaunch>
       <configurationType
              id="it.polimi.dice.verification.launchConfigurationTypeSpark">
       </configurationType>
       <description
              description="Launches a verification task on the specified UML model for Spark application"
              mode="run">
       </description>       
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement"
            class="it.polimi.dice.verification.adapters.LaunchableDummyAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement"
            class="it.polimi.dice.verification.adapters.UmlModelAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.uml.tools.model.UmlModel">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="it.polimi.dice.verification.adapters.UmlModelAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.uml.tools.model.UmlModel">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dice.ui.preferences"
            class="it.polimi.dice.verification.ui.preferences.DiceVerificationPreferencePage"
            id="it.polimi.dice.verification.ui.prefPage1"
            name="Verification Tool">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="it.polimi.dice.verification.ui.preferences.DiceVerificationPreferencesInitializer">
      </initializer>
   </extension>
<!-- 
   <extension
         point="org.eclipse.ui.views">
      <view
            category="it.polimi.dice.verification.ui.views"
            class="it.polimi.dice.verification.ui.preferences.DiceVerificationPreferencesView"
            icon="icons/verify_icon.png"
            id="it.polimi.dice.verification.ui.view1"
            name="D-VerT Preferences"
            restorable="true">
      </view>
      <category
            id="it.polimi.dice.verification.ui.views"
            name="DICE Verification">
      </category>
   </extension>
   -->
</plugin>
